<footer>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
    molestiae, consequuntur maiores officia exercitationem pariatur? Odit fuga,
    illo, ullam voluptas, incidunt placeat laborum aut nostrum consequatur modi
    architecto alias saepe.
  </p>

  <p>
    Created by:
    {{name}}
  </p>
</footer>